name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Publish to Astronomer.io
      uses: elgohr/Publish-Docker-Github-Action@2.6
      with:
        name: geocentric-fusion-4341/airflow:ci-${{ github.sha }}
        username: _
        password: ${{ secrets.ASTRONOMER_SERVICE_KEY }}
        registry: registry.gcp0001.us-east4.astronomer.io